
            <!--about-->
            <section id="about" class="about-section">
              <!--===============spacing==============-->
              <div class="pd_top_70"></div>
              <!--===============spacing==============-->
              <div class="container">
                 <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                       <div class="image_box_new type_one clearfix">
                          <div class="image_one">
                             <img src="assets/images/about/about-11.jpg" class="img-fluid height_570px object-fit-cover" alt="img">

                             <div class="year_experience">
                                <h2>10+ Years Of experience</h2>
                             </div>

                          </div>
                          <div class="video_box video-inner text-center">
                             <a href="https://youtu.be/RN81h85V6D4" class="lightbox-image">
                                <i class="icon-play"></i>
                             </a>
                          </div>
                          <div class="image_two">
                             <img src="assets/images/about/about-9.jpg" class="img-fluid" alt="img">
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                       <div class="title_all_box style_six  dark_color">
                          <div class="title_sections">
                             <div class="before_title">
                                <span class="icon-briefcase icon"></span>
                                ACERCA DE NOSOTROS
                             </div>
                             <div class="title"> Somos una empresa de servicios</div>
                             <p class="description_text">
                                especializada en reparación, mantención e instalación de las principales 
                                marcas y sistemas de climatización comercial e industrial. Contamos con
                                servicio técnico que se apoya en tecnologia para diagnostico y resolución
                                de problemas.
                             </p>
                          </div>
                       </div>

                       <!--===============spacing==============
                       <div class="pd_bottom_25"></div>-->
                       <!--===============spacing==============-->
                       <div class="row gutter_25px">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="icon_box_new_box type_one">
                                 <!--
                                <div class="icon_bx">
                                   <img src="assets/images/idea.png" class="img-fluid svg_image" alt="icon png">
                                   <span class="icon_bg"></span>
                                </div>
                                -->

                                <div class="text_box">

                                   <h2><a target="_blank" rel="nofollow" href="#">Visión</a>
                                   </h2>
                                   <p>Es ser un proveedor líder de soluciones de climatización para empresas...</p>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="icon_box_new_box type_one">
                              <!--
                                <div class="icon_bx">
                                   <img src="assets/images/solution.png" class="img-fluid svg_image" alt="icon png">
                                   <span class="icon_bg"></span>
                                </div>
                              -->

                                <div class="text_box">

                                   <h2><a target="_blank" rel="nofollow" href="#">Misión</a>
                                   </h2>
                                   <p>Nuestra misión es proporcionar un asesoramiento sólido y un servicio puntual...</p>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="icon_box_new_box type_one">
                              <!--
                                <div class="icon_bx">
                                   <img src="assets/images/solution.png" class="img-fluid svg_image" alt="icon png">
                                   <span class="icon_bg"></span>
                                </div>
                                -->

                                <div class="text_box">

                                   <h2><a target="_blank" rel="nofollow" href="#">Valores</a>
                                   </h2>
                                   <p>Nos esforzamos por mejorar constantemente nuestros servicios escuchando
                                    y comprendiendo...
                                   </p>
                                </div>
                             </div>
                          </div>
                       </div>

                       <!--===============spacing==============-->
                       <div class="pd_bottom_30"></div>
                       <!--===============spacing==============-->

                       <div class="row gutter_25px">
                          <div class="col-lg-4 col-md-4 col-ms-12">
                             <div class="theme_btn_all color_one">
                                <a href="#" target="_blank" rel="nofollow" class="theme-btn one">
                                   Leer Más </a>
                             </div>
                              <!--===============spacing==============-->
                              <div class="pd_bottom_25"></div>
                              <!--===============spacing==============-->
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!--===============spacing==============-->
              <div class="pd_bottom_80"></div>
              <!--===============spacing==============-->
           </section>
           <!---about end-->