
            <!--about-->
            <section class="about-section">
              <!--===============spacing==============-->
              <div class="pd_top_70"></div>
              <!--===============spacing==============-->
              <div class="container">
                 <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                       <div class="image_box_new type_one clearfix">
                          <div class="image_one">
                             <img src="assets/images/about/about-11.jpg" class="img-fluid height_570px object-fit-cover" alt="img">

                             <div class="year_experience">
                                <h2>10+ Years Of experience</h2>
                             </div>

                          </div>
                          <div class="video_box video-inner text-center">
                             <a href="https://youtu.be/RN81h85V6D4" class="lightbox-image">
                                <i class="icon-play"></i>
                             </a>
                          </div>
                          <div class="image_two">
                             <img src="assets/images/about/about-9.jpg" class="img-fluid" alt="img">
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                       <div class="title_all_box style_six  dark_color">
                          <div class="title_sections">
                             <div class="before_title">
                                <span class="icon-briefcase icon"></span>
                                ABOUT US
                             </div>
                             <div class="title"> Take Your Business To The Next Level</div>
                             <p class="description_text">
                                Over 20 years of experience we’ll ensure you always get the best
                                . We serve a clients at every level of their organization we can be most useful,
                                whether
                                as a trusted advisor to top trusted our management.
                             </p>
                          </div>
                       </div>

                       <!--===============spacing==============-->
                       <div class="pd_bottom_25"></div>
                       <!--===============spacing==============-->
                       <div class="row gutter_25px">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="icon_box_new_box type_one">
                                <div class="icon_bx">
                                   <img src="assets/images/idea.png" class="img-fluid svg_image" alt="icon png">
                                   <span class="icon_bg"></span>
                                </div>

                                <div class="text_box">

                                   <h2><a target="_blank" rel="nofollow" href="#">Creative
                                         Work</a>
                                   </h2>
                                   <p>A creative work is a manifestation of creative effort including fine artwork</p>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="icon_box_new_box type_one">
                                <div class="icon_bx">
                                   <img src="assets/images/solution.png" class="img-fluid svg_image" alt="icon png">
                                   <span class="icon_bg"></span>
                                </div>

                                <div class="text_box">

                                   <h2><a target="_blank" rel="nofollow" href="#">Best
                                         Solution</a>
                                   </h2>
                                   <p>Consult Solution is a dynamic, multipurpose, elegant and modern corporate and
                                      business.</p>
                                </div>
                             </div>
                          </div>
                       </div>

                       <!--===============spacing==============-->
                       <div class="pd_bottom_30"></div>
                       <!--===============spacing==============-->

                       <div class="row gutter_25px">
                          <div class="col-lg-4 col-md-4 col-ms-12">
                             <div class="theme_btn_all color_one">
                                <a href="#" target="_blank" rel="nofollow" class="theme-btn one">
                                   Learn More </a>
                             </div>
                              <!--===============spacing==============-->
                       <div class="pd_bottom_25"></div>
                       <!--===============spacing==============-->
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-12">
                             <div class="image">
                                <img src="assets/images/sign.png" class="img-fluid" alt="img" />
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!--===============spacing==============-->
              <div class="pd_bottom_80"></div>
              <!--===============spacing==============-->
           </section>
           <!---about end-->