<!---faq-->
<section
  class="faq-section bg_op_1 position-relative"
  style="background: url(assets/images/footer-bg-two.jpg)"
>
  <div class="position_absolute top curve_shape_top_2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1000 100"
      preserveAspectRatio="none"
    >
      <path
        class="elementor-shape-fill"
        opacity="0.33"
        d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"
      ></path>
      <path
        class="elementor-shape-fill"
        opacity="0.66"
        d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"
      ></path>
      <path
        class="elementor-shape-fill"
        d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"
      ></path>
    </svg>
  </div>
  <div class="container-fluid pd_zero">
    <!--
      <div class="row">
         <div class="col-lg-6 col-sm-12 col-xs-12  pd_left_100 pd_right_100 md_pd_left_15 md_pd_right_15">
            <div class="pd_top_110"></div>
            <div class="title_all_box style_six light_color">
               <div class="title_sections">
                  <div class="before_title">
                     <span class="icon-briefcase icon"></span>
                     PUNTOS CLAVES
                  </div>
                  <div class="title">PUNTOS CLAVES</div>
               </div>
            </div>
            <div class="pd_bottom_20"></div>
            <div class="faq_box_all  border_enable">
               <dl class="accordion faqs_accordion type_one light_color">
                  <dt class="article-title active">
                     <div class="title_box">
                        <span class="faq_no">1 </span> COMPROMISO
                     </div>
                  </dt>
                  <dd class="accordion-content" style="display: block;">
                     Nos comprometemos con nuestros clientes en términos de plazos de ejecución
                     y garantías, centrándonos en la satisfacción del cliente. 
                  </dd>
                  <dt class="article-title ">
                     <div class="title_box">
                        <span class="faq_no">2 </span> EQUIPO
                     </div>
                  </dt>
                  <dd class="accordion-content">
                     Contamos con un equipo dedicado que se centra en ofrecer el mejor
                     servicio al cliente. 
                  </dd>
                  <dt class="article-title ">
                     <div class="title_box">
                        <span class="faq_no">3 </span> PROFESIONALIDAD
                     </div>
                  </dt>
                  <dd class="accordion-content">
                     Cada propuesta seráformulada por profesionales, brindando soluciones expertas.
                  </dd>
                  <dt class="article-title ">
                     <div class="title_box">
                        <span class="faq_no">4 </span> EXPERIENCIA</div>
                  </dt>
                  <dd class="accordion-content">
                     Tenemos una amplia experiencia resolviendo varias cosas en el campo.
                  </dd>
               </dl>
            </div>
            <div class="pd_bottom_110"></div>
         </div>
         <div class="col-lg-6 col-sm-12 col-xs-12 position-relative z_99"
            style="background-image: url(assets/images/faq-section-min.jpg);">
         </div>
      </div>
      -->
    <div class="row">
      <div
        class="col-lg-6 col-sm-12 col-xs-12 pd_left_100 pd_right_100 md_pd_left_15 md_pd_right_15"
      >
        <div class="pd_top_110"></div>
        <div class="title_all_box style_six light_color">
          <div class="title_sections">
            <div class="before_title">
              <span class="icon-briefcase icon"></span>
              {{ data[1].item.content }}
            </div>
            <div class="title">{{ data[2].item.content }}</div>
          </div>
        </div>
        <div class="pd_bottom_20"></div>
        <div class="faq_box_all border_enable">
          <dl class="accordion faqs_accordion type_one light_color">
            <dt
              class="article-title"
              [class.active]="activeIndex === 1"
              (click)="toggleAccordion(1)"
            >
              <div class="title_box">
                <span class="faq_no">{{ data[3].item.content }} </span>
                {{ data[4].item.content }}
              </div>
            </dt>
            <dd class="accordion-content" *ngIf="activeIndex === 1">
              {{ data[5].item.content }}
            </dd>
            <dt
              class="article-title"
              [class.active]="activeIndex === 2"
              (click)="toggleAccordion(2)"
            >
              <div class="title_box">
                <span class="faq_no">{{ data[6].item.content }} </span>
                {{ data[7].item.content }}
              </div>
            </dt>
            <dd class="accordion-content" *ngIf="activeIndex === 2">
              {{ data[8].item.content }}
            </dd>
            <dt
              class="article-title"
              [class.active]="activeIndex === 3"
              (click)="toggleAccordion(3)"
            >
              <div class="title_box">
                <span class="faq_no">{{ data[9].item.content }} </span>
                {{ data[10].item.content }}
              </div>
            </dt>
            <dd class="accordion-content" *ngIf="activeIndex === 3">
              {{ data[11].item.content }}
            </dd>
            <dt
              class="article-title"
              [class.active]="activeIndex === 4"
              (click)="toggleAccordion(4)"
            >
              <div class="title_box">
                <span class="faq_no">{{ data[12].item.content }} </span>
                {{ data[13].item.content }}
              </div>
            </dt>
            <dd class="accordion-content" *ngIf="activeIndex === 4">
              {{ data[14].item.content }}
            </dd>
          </dl>
        </div>
        <div class="pd_bottom_110"></div>
      </div>
      <div
        class="col-lg-6 col-sm-12 col-xs-12 position-relative z_99"
        style="background-image: url(assets/images/faq-section-min.jpg)"
      ></div>
    </div>
  </div>
  <div class="position_absolute curve_shape_bottom_2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1000 100"
      preserveAspectRatio="none"
    >
      <path
        class="elementor-shape-fill"
        opacity="0.33"
        d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"
      ></path>
      <path
        class="elementor-shape-fill"
        opacity="0.66"
        d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"
      ></path>
      <path
        class="elementor-shape-fill"
        d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"
      ></path>
    </svg>
  </div>
</section>
<!--fag end-->
