
            <!--content-->
            <section class="content-section">
                <!--===============spacing==============-->
                <div class="pd_top_50"></div>
                <!--===============spacing==============-->
                <div class="auto-container">
                   <div class="row">
                      <div class="col-lg-12 m-auto">
                         <div class="title_all_box style_six text-center">
                            <div class="title_sections">
                               <div class="before_title">
                                  <span class="icon-briefcase icon"></span>
                                  
                               </div>
                               <div class="title">VENTAJAS COMPETITIVAS</div>
                               <p class="description_text">
                                  Proporcionamos servicios de la más alta calidad. Nos centramos principalmente en la seguridad, la gestión de
                                  procesos y la mejora continua. Grantizamos que se da prioridad a nuestras instrucciones de calidad más estrictas,
                                  lo que se traduce en condiciones de trabajo seguras para todos. Creemos que todos los clientes deben estar satisfechos con
                                  los servicios que prestamos, por lo que garantizamos una mano de obra profesional conforme a la normativa vigente.    
                               </p>
                            </div>
                            <!--===============spacing==============-->
                            <div class="pd_bottom_20"></div>
                            <!--===============spacing==============-->
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="choose_box  type_one">
                            <div class="image_box">
                               <img src="assets/images/24-hours-support.png" class="img-fluid svg_image" alt="icon png">
                            </div>
                            <div class="content_box">
                               <span class="step_no">01</span>
                               <div class="text_box">
                                  <h2>
                                     <a href="#" target="_blank">
                                        Apoyo Tecnológico </a>
                                  </h2>
                                  <!--
                                  <p>Alienssa pentalim ex arcu, ac ultricies tortor ultricies pellentesque.</p>
 
                                  <a href="#" class="read_more type_one" target="_blank">
                                     Read More <span class="icon-arrow-right"></span>
                                  </a>-->
 
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="choose_box  type_one">
                            <div class="image_box">
                               <img src="assets/images/email-marketing.png" class="img-fluid svg_image" alt="icon png">
                            </div>
                            <div class="content_box">
                               <span class="step_no">02</span>
                               <div class="text_box">
                                  <h2>
                                     <a href="#" target="_blank">
                                        Amigables con el medio ambiente </a>
                                  </h2>
                                  <!--
                                  <p>Alienssa pentalim ex arcu, ac ultricies tortor ultricies pellentesque.</p>
 
                                  <a href="#" class="read_more type_one" target="_blank">
                                     Read More <span class="icon-arrow-right"></span>
                                  </a>-->
 
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="choose_box  type_one">
                            <div class="image_box">
                               <img src="assets/images/team-management.png" class="img-fluid svg_image" alt="icon png">
                            </div>
                            <div class="content_box">
                               <span class="step_no">03</span>
                               <div class="text_box">
                                  <h2>
                                     <a href="#" target="_blank">
                                        Procesos efectivos de calidad </a>
                                  </h2>
                                  <!--
                                  <p>Alienssa pentalim ex arcu, ac ultricies tortor ultricies pellentesque.</p>
 
                                  <a href="#" class="read_more type_one" target="_blank">
                                     Read More <span class="icon-arrow-right"></span>
                                  </a>-->
 
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="choose_box  type_one">
                            <div class="image_box">
                               <img src="assets/images/solution-1.png" class="img-fluid svg_image" alt="icon png">
                            </div>
                            <div class="content_box">
                               <span class="step_no">04</span>
                               <div class="text_box">
                                  <h2>
                                     <a href="#" target="_blank">
                                        Entorno seguro de trabajo </a>
                                  </h2>
                                  <!--
                                  <p>Alienssa pentalim ex arcu, ac ultricies tortor ultricies pellentesque.</p>
 
                                  <a href="#" class="read_more type_one" target="_blank">
                                     Read More <span class="icon-arrow-right"></span>
                                  </a>-->
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!--===============spacing==============-->
                <div class="pd_bottom_65"></div>
                <!--===============spacing==============-->
             </section>

