
            <!---testimonial-->
            <section class="testimonial-section">
                <!--===============spacing==============-->
                <div class="pd_top_50"></div>
                <!--===============spacing==============-->
                <div class="container">
                   <div class="row">
                      <div class="col-lg-7 m-auto">
                         <div class="title_all_box style_six text-center dark_color">
                            <div class="title_sections">
                               <div class="before_title">
                                  <span class="icon-briefcase icon"></span>
                                  TESTIMONIOS
                               </div>
                               <div class="title">Palabras de nuestras clientes</div>
                               <p>Which is the same as saying through shrinking from toil and pain. These cases are
                                  perfectly simple and easy to distinguish.</p>
                            </div>
                         </div>
                      </div>
 
                   </div>
                   <div class="row">
                      <div class="col-lg-12">
                         <div class="testimonial_all owl_new_one ">
                            <div class="owl-carousel owl_nav_block owl_dots_none owl_type_two theme_carousel owl-theme"
                               data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "3" } , "1000":{ "items" : "2" }}}'>
 
                               <div class="testimonial_box type_one">
                                  <span class="icon-quote"></span>
                                  <div class="testimonial_inner">
                                     <div class="description">
                                        <p>I love creote everyone has been great to work
                                           with and you’re all great partner for company,
                                           we thank you ... </p>
                                     </div>
                                     <div class="lower_content clearfix">
                                        <div class="image_box">
                                           <img decoding="async" src="assets/images/testi-2.png" alt="image">
                                        </div>
                                        <div class="authour_name">
                                           <h2>Boris Elbert </h2>
                                           <h6>Green Tech</h6>
                                           <p>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star empty"></i>
                                              <i class="fa fa-star empty"></i>
                                           </p>
                                        </div>
                                     </div>
                                  </div>
 
                               </div>
 
                               <div class="testimonial_box type_one">
                                  <span class="icon-quote"></span>
                                  <div class="testimonial_inner">
                                     <div class="description">
                                        <p>We hired creote to assist us with refining
                                           marketing plans, you truly understands &
                                           gave us very good ideas. </p>
                                     </div>
                                     <div class="lower_content clearfix">
                                        <div class="image_box">
                                           <img decoding="async" src="assets/images/testi-3.png" alt="image">
                                        </div>
                                        <div class="authour_name">
                                           <h2>Ivor Herbert</h2>
                                           <h6>Manager, Airlines</h6>
                                           <p>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star empty"></i>
                                              <i class="fa fa-star empty"></i>
                                           </p>
                                        </div>
                                     </div>
                                  </div>
 
                               </div>
 
                               <div class="testimonial_box type_one">
                                  <span class="icon-quote"></span>
                                  <div class="testimonial_inner">
                                     <div class="description">
                                        <p>You bring tremendous value to company. We have
                                           generated more leads in the last 45 days. </p>
                                     </div>
                                     <div class="lower_content clearfix">
                                        <div class="image_box">
                                           <img decoding="async" src="assets/images/testi-1.png" alt="image">
                                        </div>
                                        <div class="authour_name">
                                           <h2>Fleix Everard </h2>
                                           <h6>HR, Blue Soft Sol</h6>
                                           <p>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star fill"></i>
                                              <i class="fa fa-star empty"></i>
                                              <i class="fa fa-star empty"></i>
                                           </p>
                                        </div>
                                     </div>
                                  </div>
 
                               </div>
 
                            </div>
 
                         </div>
                      </div>
                   </div>
                </div>
                <!--===============spacing==============-->
                <div class="pd_bottom_90"></div>
                <!--===============spacing==============-->
             </section>
             <!--testimonial end-->
