<div id="page" class="page_wapper hfeed site">
  <!---============== wrapper_full =================-->
  <div id="wrapper_full" class="content_all_warpper">
    <!----mini cart----->
    <div class="mini_cart_togglers fixed_cart">
      <div class="mini-cart-count">0</div>
      <i class="icon-shopping-cart"></i>
    </div>
    <!----mini cart----->
    <!----preloader----->
    <div class="preloader-wrap">
      <div
        class="preloader"
        style="background-image: url(assets/images/preloader.gif)"
      ></div>
      <div class="overlay"></div>
    </div>
    <!----header----->
    <app-header></app-header>
    <!----header end----->
    <!-- contenido de la pagina -->
    <div id="content" class="site-content">
      <router-outlet></router-outlet>
    </div>
    <!-- fin de contenido de la pagina -->
  </div>
  <!---==============footer start =================-->
  <app-footer></app-footer>
  <!---==============footer end =================-->
  <!--de prueba-->
</div>
