<div id="page" class="page_wapper hfeed site">
  <app-config-color></app-config-color>
  <!---============== wrapper_full =================-->
  <div id="wrapper_full" class="content_all_warpper">
    <!----mini cart----->
    <div class="mini_cart_togglers fixed_cart">
      <div class="mini-cart-count">0</div>
      <i class="icon-shopping-cart"></i>
    </div>
    <!----mini cart----->
    <!----preloader----->
    <div class="preloader-wrap">
      <div
        class="preloader"
        style="background-image: url(assets/images/preloader.gif)"
      ></div>
      <div class="overlay"></div>
    </div>
    <!----header----->
    <app-header></app-header>
    <!----header end----->
    <div id="content" class="site-content">
      <!---slider-->
      <app-slider></app-slider>
      <!---slider-end--->
      <!---about us-->
      <app-about></app-about>
      <!---about us end-->
      <!---service--->
      <app-service></app-service>
      <!---service end-->
    </div>
  </div>
  <!---==============footer start =================-->
  <app-footer></app-footer>
  <!---==============footer end =================-->
  <!---==============floating menu=================-->
  <app-floating-menu></app-floating-menu>
  <!---==============floating menu=================-->
  <!--de prueba-->
</div>
<router-outlet></router-outlet>
