
<app-page-header-default></app-page-header-default>

<!----page-CONTENT----->
<div id="content" class="site-content ">

    <div class="auto-container">
        <div class="row default_row">
           <div id="primary" class="content-area  col-lg-8 col-md-12 col-sm-12 col-xs-12">

                <section class="blog_post_section one_column style_two">
                          <!--===============spacing==============-->
                          <div class="pd_top_90"></div>
                          <!--===============spacing==============-->
                          <div class="grid_show_case grid_layout clearfix">

                             <div class="grid_box _card">
                                 <div class="news_box default_style list_view has_images">
                                    <div class="image img_hover-1">
                                       <img width="750" height="420" src="assets/images/blog/blog-image-9.jpg" class="img-fluid" alt="img">
                                       <a routerLink="/articles" class="categories">
                                          <i class="icon-folder"></i>Coaching
                                       </a>            
                                    </div>
                                    <div class="content_box">
                                       <div class="date">
                                          <span class="date_in_number">October 8, 2023</span>
                                       </div>
                                       <div class="source">
                                          <h2 class="title"><a routerLink="/articles" rel="bookmark">Why Should Business Payroll Outsourcing?</a></h2>
                                          <p class="short_desc">How well this mistaken ideas off denouncing pleasure &amp; praisings will give you complete.</p>
                                          <a routerLink="/articles" class="link__go">Read More</a>
                                       </div>
                                       <div class="auhtour_box">
                                          <img alt="img" src="assets/images/auth-1.png"  height="60" width="60" class="img-fluid">                  
                                          <div class="contnet_a">
                                             <p>POSTED BY</p>
                                             <h4>
                                                Evan Thomas                     
                                             </h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                             </div>
                             <div class="grid_box _card">
                                 <div class="news_box default_style list_view has_images">
                                    <div class="image img_hover-1">
                                       <img width="750" height="420" src="assets/images/blog/blog-image-8.jpg" class="img-fluid" alt="img">
                                       <a href="#" class="categories">
                                          <i class="icon-folder"></i>HR Consulting
                                       </a>            
                                    </div>
                                    <div class="content_box">
                                       <div class="date">
                                          <span class="date_in_number">October 8, 2023</span>
                                       </div>
                                       <div class="source">
                                          <h2 class="title"><a href="blog-single.html" rel="bookmark">Most Employees Support Measures</a></h2>
                                          <p class="short_desc">How well this mistaken ideas off denouncing pleasure &amp; praisings will give you complete.</p>
                                          <a href="#" class="link__go">Read More</a>
                                       </div>
                                       <div class="auhtour_box">
                                          <img alt="img" src="assets/images/auth-1.png"  height="60" width="60" class="img-fluid">                   
                                          <div class="contnet_a">
                                             <p>POSTED BY</p>
                                             <h4>
                                                Evan Thomas                     
                                             </h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                             </div>
                             <div class="grid_box _card">
                                 <div class="news_box default_style list_view has_images">
                                    <div class="image img_hover-1">
                                       <img width="750" height="420" src="assets/images/blog/blog-image-7.jpg" class="img-fluid" alt="img">
                                    </div>
                                    <div class="content_box">
                                       <div class="date">
                                          <span class="date_in_number">October 8, 2023</span>
                                       </div>
                                       <div class="source">
                                          <h2 class="title"><a href="blog-single.html" rel="bookmark">How to Handle Employee</a></h2>
                                          <p class="short_desc">How well this mistaken ideas off denouncing pleasure &amp; praisings will give you complete.</p>
                                          <a href="#" class="link__go">Read More</a>
                                       </div>
                                       <div class="auhtour_box">
                                          <img alt="img" src="assets/images/auth-1.png"  height="60" width="60" class="img-fluid">                 
                                          <div class="contnet_a">
                                             <p>POSTED BY</p>
                                             <h4>
                                                Evan Thomas                     
                                             </h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                             </div>
                             <div class="grid_box _card">
                                 <div class="news_box default_style list_view has_images">
                                    <div class="image img_hover-1">
                                       <img width="750" height="420" src="assets/images/blog/blog-image-6.jpg" class="img-fluid" alt="img">
                                       <a href="#" class="categories">
                                          <i class="icon-folder"></i>Coaching
                                       </a>            
                                    </div>
                                    <div class="content_box">
                                       <div class="date">
                                          <span class="date_in_number">October 8, 2023</span>
                                       </div>
                                       <div class="source">
                                          <h2 class="title"><a href="blog-single.html" rel="bookmark">Retaining Good Employees &amp; Motivated</a></h2>
                                          <p class="short_desc">How well this mistaken ideas off denouncing pleasure &amp; praisings will give you complete.</p>
                                          <a href="#" class="link__go">Read More</a>
                                       </div>
                                       <div class="auhtour_box">
                                          <img alt="img" src="assets/images/auth-1.png"  height="60" width="60" class="img-fluid">                
                                          <div class="contnet_a">
                                             <p>POSTED BY</p>
                                             <h4>
                                                Roman Brayden                     
                                             </h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                             </div>
                             <div class="grid_box _card">
                                 <div class="news_box default_style list_view has_images">
                                    <div class="image img_hover-1">
                                       <img width="750" height="420" src="assets/images/blog/blog-image-5.jpg" class="img-fluid" alt="img">
                                       <a href="#" class="categories"><i class="icon-folder"></i>Compliance Audits</a>            
                                    </div>
                                    <div class="content_box">
                                       <div class="date">
                                          <span class="date_in_number">October 8, 2023</span>
                                       </div>
                                       <div class="source">
                                          <h2 class="title"><a href="blog-single.html" rel="bookmark">Understanding Executive Coaching</a></h2>
                                          <p class="short_desc">How well this mistaken ideas off denouncing pleasure &amp; praisings will give you complete.</p>
                                          <a href="#" class="link__go">Read More</a>
                                       </div>
                                       <div class="auhtour_box">
                                          <img alt="img" src="assets/images/auth-1.png"  height="60" width="60" class="img-fluid">                  
                                          <div class="contnet_a">
                                             <p>POSTED BY</p>
                                             <h4>
                                                Evan Thomas                     
                                             </h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                             </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                 <nav aria-label="Page navigation example">
                                    <ul class="pagination text-center">
                                       <li class="active">
                                          <a href="blog-simple.html">1</a>
                                       </li>
                                       <li>
                                          <a href="blog-simple.html">2</a>
                                       </li>
                                       <li class="next_link">
                                          <a href="blog-simple.html">
                                             <div class="nav-next"><i class="fas fa-angle-right"></i></div>
                                          </a>
                                       </li>
                                    </ul>
                                 </nav>
                              </div>
                          </div>
                          <!--===============spacing==============-->
                          <div class="pd_bottom_70"></div>
                          <!--===============spacing==============-->
                </section>
             
           </div>
           <aside id="secondary" class="widget-area all_side_bar col-lg-4 col-md-12 col-sm-12">
                     <div class="side_bar">
                        <!--===============spacing==============-->
                        <div class="pd_top_90"></div>
                        <!--===============spacing==============-->
                        <div class="widgets_grid_box">
                           <form role="search" method="get" action="index.html/">
                              <div class="wp-block-search__inside-wrapper">
                                 <input type="search"  name="s" value="" placeholder="Key Words here" required="">
                                 <i class="fa fa-search"></i>
                              </div>
                           </form>
                        </div>
                        <div class="widgets_grid_box">
                           <h2 class="widget-title">Post Categories</h2>
                           <ul class="wp-block-categories">
                              <li><a href="#">Beds</a> (1)</li>
                              <li><a href="#">Coaching</a> (5)</li>
                              <li><a href="#">Compliance Audits</a> (5)</li>
                              <li><a href="#">Employee Relations</a> (8)</li>
                              <li><a href="#">Furnitures</a> (1)</li>
                           </ul>
                        </div>
                        <div class="widgets_grid_box">
                           <h2 class="widget-title">Recent Posts</h2>
                           <div class="widget_post_box">
                              <div class="blog_in clearfix image_in">
                                 <div class="image">
                                    <img decoding="async" src="assets/images/blog/blog-image-9.jpg" alt="img">
                                 </div>
                                 <div class="content_inner">
                                    <p class="post-date"><span class="icon-calendar"></span>October 8, 2023</p>
                                    <h3><a href="blog-single.html">Why Should Business Payroll Outsourcing?</a></h3>
                                 </div>
                              </div>
                              <div class="blog_in clearfix image_in">
                                 <div class="image">
                                    <img decoding="async" src="assets/images/blog/blog-image-8.jpg" alt="img">
                                 </div>
                                 <div class="content_inner">
                                    <p class="post-date"><span class="icon-calendar"></span>October 8, 2023</p>
                                    <h3><a href="blog-single.html">Most Employees Support Measures</a></h3>
                                 </div>
                              </div>
                              <div class="blog_in clearfix image_in">
                                 <div class="image">
                                    <img decoding="async" src="assets/images/blog/blog-image-7.jpg" alt="img">
                                 </div>
                                 <div class="content_inner">
                                    <p class="post-date"><span class="icon-calendar"></span>October 8, 2023</p>
                                    <h3><a href="blog-single.html">How to Handle Employee</a></h3>
                                 </div>
                              </div>
                              <div class="blog_in clearfix image_in">
                                 <div class="image">
                                    <img decoding="async" src="assets/images/blog/blog-image-6.jpg" alt="img">
                                 </div>
                                 <div class="content_inner">
                                    <p class="post-date"><span class="icon-calendar"></span>October 8, 2023</p>
                                    <h3><a href="blog-single.html">Retaining Good Employees &amp; Motivated</a></h3>
                                 </div>
                              </div>

                           </div>
                        </div>
                        <div class="widgets_grid_box">
                           <h2 class="widget-title">Tag Clouds</h2>
                           <div class="wp-block-tag-cloud">
                              <a href="#">Appraisal</a>
                              <a href="#">Business</a>
                              <a href="#">Contract</a>
                              <a href="#">Data</a>
                              <a href="#">Efficiency</a>
                              <a href="#">Employment</a>
                              <a href="#">HR Procedures</a>
                              <a href="#">Legal</a>
                              <a href="#">Management</a>
                              <a href="#">Obligations</a>
                           </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_70"></div>
                        <!--===============spacing==============-->
                     </div>
           </aside>
        </div>
    </div>
    
    <app-newsteller></app-newsteller>

</div>
