<div>
  <!---slider-->
  <app-slider></app-slider>
  <!---slider-end--->
  <!---about us-->
  <app-about></app-about>
  <!---about us end-->
  <!--client-->
  <app-client></app-client>
  <!---client end-->
  <!---service--->
  <app-service></app-service>
  <!---service end-->
  <!--vision-->
  <app-ventajas></app-ventajas>
  <!---vision end-->
  <!--project-->
  <app-project></app-project>
  <!---vision end-->
  <!--testimonial-->
  <app-testimonial></app-testimonial>
  <!---vision end-->
  <!--contact-section-->
  <app-contact-section></app-contact-section>
  <!---vision end-->
  <!--faq-section-->
  <app-faq-section></app-faq-section>
  <!---vision end-->
  <!--blog-post-->
  <app-blog-post></app-blog-post>
  <!---vision end-->
</div>
