<div class="style-switcher">
  <a href="#" id="switcher-toggler"><i class="fa fa-cog"></i></a>
  <h3>Color Skins</h3>
  <ul
    id="colorschemeOptions"
    title="Switch Color"
    data-css-path="assets/css/scss/elements/color-switcher/"
  >
    <li>
      <a href="#" data-theme="color" style="background-color: #078586"> </a>
    </li>
    <li>
      <a href="#" data-theme="color1" style="background-color: #e5102a"> </a>
    </li>
    <li>
      <a href="#" data-theme="color2" style="background-color: #3ead3c"> </a>
    </li>
    <li>
      <a href="#" data-theme="color3" style="background-color: #fed000"> </a>
    </li>
    <li>
      <a href="#" data-theme="color4" style="background-color: #ff5538"> </a>
    </li>
    <li>
      <a href="#" data-theme="color5" style="background-color: #246af4"> </a>
    </li>
  </ul>
</div>
