<app-page-header-default></app-page-header-default>

<!--===============PAGE CONTENT==============-->
         <div id="content" class="site-content ">
            <ng-container *ngIf="pageData">
               <ng-container *ngFor="let page of pageData">
                 <ng-container [ngSwitch]="page.sections.component_id">
                   
                     <!-- About Component -->
                     <app-about
                     *ngSwitchCase="'acerca_de_nosotros_4'"
                     [data]="page.sections.items"
                        ></app-about>
                     <!---about us end-->
                 </ng-container>
               </ng-container>
             </ng-container>
            
            <!---service--->
            <section class="service-icon-section bg_light_1">
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="title_all_box style_one text-center dark_color">
                           <div class="title_sections">
                              <div class="before_title">Nuestro negocio</div>
                              <h2 class="title">Destaca del resto</h2>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_20"></div>
                           <!--===============spacing==============-->
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="simple_image_boxes parallax_cover height_264px">
                              <img src="assets/images/icon-img-ab-1.jpg" class="simp_img cover-parallax" alt="image">
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_20"></div>
                        <!--===============spacing==============-->
                        <div class="icon_box_all style_three">
                           <div class="icon_content ">
                              <div class="icon">
                                 <span class=" icon-bow-and-arrow"></span>
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Misión</a></h3>
                                 <p>Nuestra misión es proporcionar un asesoramiento sólido
                                    y un servicio puntual, garantizando al mismo tiempo la satisfacción del 
                                    cliente.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-0 mt-xl-0">
                        <div class="icon_box_all style_three">
                           <div class="icon_content ">
                              <div class="icon">
                                 <span class=" icon-growth"></span>
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" rel="nofollow">Valores</a></h3>
                                 <p>Nos esforzamo por mejorar constantemente nuestros servicios escuchando y comprendiendo
                                    las preocupaciones de nuestros clientes, con el fin de ofrecerle el mejor servicio de calidad y a un
                                    precio asequible.
                                 </p>
                                 <div class="pd_bottom_20"></div>
                                 <div class="btn_center">
                                    <a href="contact" rel="nofollow" class="theme-btn one">Contactanos</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-4 mt-xl-0">
                        <div class="simple_image_boxes  height_264px">
                           <img src="assets/images/icon-img-ab-2.jpg" class="simp_img img-fluid" alt="image">
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_20"></div>
                        <!--===============spacing==============-->
                        <div class="icon_box_all style_three">
                           <div class="icon_content ">
                              <div class="icon">
                                 <span class=" icon-binoculars"></span>
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Visión</a></h3>
                                 <p>Nuestra visión es ser un proveedor líder de sooluciones de climatización 
                                    para empresas. Nuestro objetivo es ser la primera opción para encontrar soluciones 
                                    a medida, eficaces y eficientes. Haremos que el proceso sea sencillo y agradable para 
                                    nuestros valiosos clientes. 
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            <!--===============spacing==============-->
            <div class="pd_top_90"></div>
            <!--===============spacing==============-->
            </section>
            <!---service end--->
            <!---newsteller--->
            <app-newsteller></app-newsteller>
            <!---newsteller end--->
      </div>
