<div class="page_header_default style_one">
   <div class="parallax_cover">
      <div class="simpleParallax">
           <img src="assets/images/page-header-default.jpg" alt="bg_image"
            class="cover-parallax">
       </div>
   </div>
   <div class="page_header_content">
      <div class="auto-container">
         <div class="row">
            <div class="col-md-12">
               <div class="banner_title_inner">
                  <div class="title_page">
                     Sobre Nosotros
                  </div>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="breadcrumbs creote">
                  <ul class="breadcrumb m-auto">
                     <li><a href="inicio">Home</a></li>
                     <li class="active">Sobre Nosotros</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--===============PAGE CONTENT==============-->
<div id="content" class="site-content ">
    <ng-container *ngIf="pageData">
       <ng-container *ngFor="let page of pageData">
         <ng-container [ngSwitch]="page.sections.component_id">
            <!-- About Component -->
            <app-about *ngSwitchCase="'acerca_de_nosotros_4'" [data]="page.sections.items"></app-about>
            <!-- Vision Component -->
            <app-vision *ngSwitchCase="'vision_13'" [data]="page.sections.items"></app-vision>
            <!-- Agregar más casos según sea necesario -->
            <!-- Default Case (por si no coincide con ninguno) -->
            <div *ngSwitchDefault> Componente predeterminado o manejo de error aquí</div>
         </ng-container>
       </ng-container>
    </ng-container>
            
    
    <!---newsteller--->
    <app-newsteller></app-newsteller>
    <!---newsteller end--->
</div>
